/* universal selectors  */
* {
  /* google font */
  font-family: "Work Sans", sans-serif;
}

/* banner  */
header {
  background-image: url("../images/banner/banner3.png");
  height: 808px;
  background-repeat: no-repeat;
  direction: rtl;
  margin-bottom: 130px;
}
.banner_header {
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
  padding-top: 216px;
  padding-right: 230px;
  padding-left: 800px;
}

.banner_decription {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  padding-right: 230px;
  padding-left: 800px;
  margin-top: 25px;
}

.btn_primary {
  height: 64px;
  background: #ffffff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  color: #005fac;
  padding: 20px;
  border: none;
  margin-right: 230px;
  margin-top: 30px;
}

/* previous failure  */
.failure_history {
  display: flex;
  align-items: center;
  gap: 87px;
  margin-left: 205px;
  margin-right: 320px;
}

.failure_title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 24px;
}

.failure_decription {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 16px;
}
.failure_list {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  padding: 0px;
}

.fa-solid {
  color: #16d887;
}

/* clients feedback  */

.clients_container {
  margin-top: 150px;
  text-align: center;
}

.clients {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: 50px 230px 230px 130px;
}

.client {
  background-color: #b7b7b7;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 7px 5px 5px rgb(236, 236, 236);
}

/* plan  */
.plan_container {
  margin-top: 130px;
}

.plan_title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  text-align: center;
}

.plan_cards {
  display: flex;
  justify-content: space-between;
  gap: 86px;
  margin: 50px 230px 230px 130px;
}

.plan_card {
  text-align: center;
}

.plan_sub_title {
  font-weight: 700;
  font-size: 30px;
  color: #151414;
}

.plan_description {
  font-weight: 500;
  font-size: 25px;
  color: #737272;
}

/* footer  */
footer {
  display: flex;
  align-items: center;
  gap: 330px;
  background: #151414;
  padding: 130px 230px;
}

.feature_title {
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
}

.feature_description {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 24px;
}

.subscribe_title {
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 30px;
}

.input_email {
  padding: 20px;
  font-weight: 400;
  font-size: 18px;
  color: #f3f3f3;
  border-radius: 5px;
}

.subscribe_btn {
  height: 64px;
  background: #005fac;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  padding: 20px;
  border: none;
  margin-right: 230px;
  margin-top: 30px;
}
